[Desktop Entry]
Name=Weka
Comment=Machine Learning Toolkit
Exec=weka-james-carroll.weka
Icon=${SNAP}/meta/gui/weka.png
Type=Application
Categories=Science;Development;
